@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

header {
    padding: 10px;
    background-color: gold;
    color: white;
    text-align: center;
}

nav {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
}

nav ul {
    list-style: none;
}

.contenido {
    display: flex;
    padding: 0px;
    background-color: teal;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav>ul {
    display: table;
    /*Quitamos el overflow hidden que estaba aqui*/
    width: 100%;
    background: #000;
    position: relative;
}

nav>ul li {
    display: table-cell;
}


/*Sub-menu*/

nav>ul>li:hover>ul {
    display: block;
    height: 100%;
}

nav>ul>li>ul {
    display: block;
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>ul>li a:hover {
    background: #5da5a2;
}

nav>ul>li>a span {
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>a span .icon {
    display: block;
    line-height: 60px;
}

nav>ul>li>a:hover>span {
    top: 0;
}


/*Colores*/

nav ul li a .primero {
    background: #0e5061;
}

nav ul li a .segundo {
    background: #5da5a2;
}

nav ul li a .tercero {
    background: #f25724;
}

nav ul li a .cuarto {
    background: #174459;
}

nav ul li a .quinto {
    background: #f25724;
}

nav ul li a .sexto {
    background: #37a4d9;
}